[BASIC]
ignore=mypy.py
good-names=
    T,
    F,
    logger,
    df,
    fn,
    i,
    e,
    x,
    f,
    k,
    v,
    fp,
    _IS_INFERRED,

[MESSAGES CONTROL]
disable=
    # C0330 conflicts with black: https://github.com/psf/black/issues/48
    C0330,
    R0913,
    duplicate-code,
    too-many-instance-attributes,
    no-else-return,
    inconsistent-return-statements,
    protected-access,
    too-many-ancestors
