[BASIC]
ignore=mypy.py,noxfile.py,pandera/accessors/pyspark_sql_accessor.py,pandera/engines/pyspark_engine.py,pandera/pyspark.py,pandera/typing/pyspark_sql.py,
ignore-patterns=pandera/api/pyspark/*,tests/pyspark/*
good-names=
    T,
    F,
    logger,
    df,
    fn,
    i,
    e,
    x,
    f,
    k,
    v,
    fp,
    bar,
    eq,
    ne,
    gt,
    ge,
    lt,
    le,
    dt,
    tz,
    TBaseModel,
    TArraySchemaBase,
    TDataFrameModel,
    _DataType

[MESSAGES CONTROL]
disable=
    # C0330 conflicts with black: https://github.com/psf/black/issues/48
    R0913,
    duplicate-code,
    too-many-instance-attributes,
    no-else-return,
    inconsistent-return-statements,
    protected-access,
    too-many-ancestors,
    too-many-lines,
    too-few-public-methods,
    line-too-long,
    ungrouped-imports,
    function-redefined,
    arguments-differ,
    unnecessary-dunder-call,
    use-dict-literal,
    invalid-name,
    import-outside-toplevel,
    missing-class-docstring,
    missing-function-docstring,
    fixme,
    too-many-locals,
    redefined-outer-name,
    logging-fstring-interpolation,
    multiple-statements,
    cyclic-import,
    too-many-positional-arguments,
    too-many-function-args,
    # Due to custom `immutable` decorator replacing `dataclasses.dataclass`
    invalid-field-call
