name: pandera-dev
channels:
  - conda-forge

dependencies:
  # environment management
  - pip

  # pandera dependencies
  - packaging >= 20.0
  - typing_extensions
  - hypothesis >= 6.92.7
  - pyyaml >= 5.1
  - typing_inspect >= 0.6.0
  - frictionless <= 4.40.8  # v5.* introduces breaking changes
  - pyarrow
  - pydantic

  # hypotheses extra
  - scipy

  # mypy extra
  - pandas-stubs

  # pyspark extra
  - pyspark[connect] >= 3.2.0

  # polars extra
  - polars >= 0.20.0

  # modin extra
  - modin
  - protobuf

  # geopandas extra
  - geopandas
  - shapely

  # fastapi extra
  - fastapi

  # testing and dependencies
  - black >= 24.0

  # testing
  - numpy >= 1.24.4
  - pandas >= 2.1.1
  - isort >= 5.7.0
  - joblib
  - mypy = 1.10.0
  - pylint < 3.3
  - pytest
  - pytest-cov
  - pytest-xdist
  - pytest-asyncio
  - pytz
  - xdoctest
  - nox
  - uv
  - setuptools # required in noxfile and not automatically provided by python >= 3.12

  # fastapi testing
  - uvicorn
  - python-multipart

  # documentation
  - sphinx
  - sphinx-design
  - sphinx-autodoc-typehints <= 1.14.1
  - sphinx-copybutton
  - recommonmark
  - myst-nb

  # packaging
  - twine

  # performance testing
  - asv >= 0.5.1

  # optional
  - pre_commit

  - pip:
      # dask extra
      - dask[dataframe]
      - distributed

      # docs
      - furo
      - sphinx-docsearch
      - grpcio
      - ray
      - typeguard
      - types-click
      - types-pytz
      - types-pyyaml
      - types-requests
      - types-setuptools
