[tool.pyright]
include = ["pandera", "tests"]
exclude = [".nox/**", ".nox-*/**"]

[tool.pytest.ini_options]
log_cli = true
log_cli_level = 20

[tool.black]
line-length = 79
target-version = [
  'py37',
  'py38',
  'py39',
  'py310',
  # 'py311' Disabled until black>=23.7.0
]
include = '^(\.py)|(\.pyi)$'
exclude = '''
(
  \.git
  | \.venv
  | \.nox
  | setup.py
  | asv_bench
)
'''
