# core dependencies
multimethod
numpy >= 1.19.0
packaging >= 20.0
pandas >= 1.2.0
pydantic < 2.0.0
typeguard >= 3.0.2
typing_extensions >= 3.7.4.3 ; python_version<'3.8'
typing_inspect >= 0.6.0
wrapt

# strategies
hypothesis >= 5.41.1

# hypotheses
scipy

# io
pyyaml >= 5.1
black >= 22.1.0 # sync with dev-check
frictionless <= 4.40.8 # v5.* introduces breaking changes

# pyspark
pyspark >= 3.2.0

# modin
modin # sync with modin-ray, modin-dask
ray ; python_version<'3.11' # sync with modin-ray
dask >= 2023.3.2 # sync with dask
protobuf <= 3.20.3 # sync with modin-ray, modin-dask

# modin-ray
modin # sync with modin, modin-dask
ray ; python_version<'3.11' # sync with modin
protobuf <= 3.20.3 # sync with modin, modin-dask

# modin-dask
modin # sync with modin, modin-ray
dask >= 2023.3.2 # sync with dask
protobuf <= 3.20.3 # sync with modin, modin-ray

# dask
dask # sync with dask
distributed

# mypy
pandas-stubs <= 1.5.2.221213 # sync with dev-typecheck

# fastapi
fastapi

# geopandas
geopandas
shapely

# pyarrow
pyarrow

# notebook
jupyterlite

# dev
pip-tools

# dev-pkg
twine

# dev-check
black >= 22.1.0 # sync with io
isort >= 5.7.0
pylint <= 2.17.3

# dev-pre-commit
pre_commit

# dev-typecheck
mypy <= 0.982
pandas-stubs <= 1.5.2.221213 # sync with mypy
types-click
types-pyyaml
types-pkg_resources
types-requests
types-pytz

# dev-nox
nox

# dev-test
pytest
pytest-cov
pytest-xdist
pytest-asyncio
pytz
xdoctest
importlib_metadata ; python_version<'3.8'

# dev-fastapi-test
uvicorn
python-multipart

# dev-perf-test
asv >= 0.5.1

# dev-doc
sphinx
sphinx-panels
sphinx-autodoc-typehints <= 1.14.1
sphinx-copybutton
jupyterlite_sphinx
recommonmark
furo
