a {
  color: #26b079;
}

.toctree-l1 a:active, .toctree-l1 a:hover {
  background-color: #676767;
}

.sidebar-logo {
  max-width: 40%;
}

.sidebar-drawer {
  width: calc(50% - 25em);
  min-width: 23em;
}

.sidebar-drawer .sidebar-container {
  width: 23em;
}

@media (max-width: 67em) {
  .sidebar-drawer {
    width: 24em;
    left: -24em;
  }
}

li.toctree-l2 {
  font-size: 80%;
}
