a {
  color: #26b079;
}

.toctree-l1 a:active, .toctree-l1 a:hover {
  background-color: #676767;
}

.wy-nav-top {
  background-color: #2ac185;
}

.wy-menu-vertical li.toctree-l1.current>a {
  border-bottom: none;
  border-top: none;
}

.wy-nav-side {
  background-color: #414552;
  width: 350px;
}

/* make sure sidebar is wide enough */
.wy-side-scroll, .wy-menu-vertical, .wy-side-nav-search {
  width: 350px;
}

.wy-nav-content-wrap {
  margin-left: 350px;
}

.wy-side-nav-search {
  background-color: #2ac185;
}

.wy-side-nav-search input[type=text] {
  border-color: #2ac185;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  color: #26b079;
}

.wy-menu-vertical li span.toctree-expand {
  color: #dedede;
}

.wy-menu-vertical li.current > a span.toctree-expand {
  color: #848484;
}

.wy-menu-vertical li:hover > a span.toctree-expand {
  color: #dedede;
}
