a {
  color: #26b079;
}

.toctree-l1 a:active, .toctree-l1 a:hover {
  background-color: #858585 !important;
}

.wy-nav-top {
  background-color: #2ac185;
}

.wy-nav-side {
  background-color: #414552;
}

.wy-side-nav-search {
  background-color: #2ac185;
}

.wy-side-nav-search input[type=text] {
  border-color: #2ac185;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  color: #26b079;
}
