aiosignal==1.3.1
    # via ray
alabaster==0.7.13
    # via sphinx
annotated-types==0.7.0
    # via pydantic
anyio==4.4.0
    # via starlette
appnope==0.1.4
    # via
    #   ipykernel
    #   ipython
argcomplete==3.5.0
    # via nox
astroid==2.15.8
    # via pylint
asttokens==2.4.1
    # via stack-data
asv==0.6.4
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
asv-runner==0.2.1
    # via asv
attrs==24.2.0
    # via
    #   fiona
    #   hypothesis
    #   jsonschema
    #   jupyter-cache
    #   referencing
babel==2.16.0
    # via sphinx
backcall==0.2.0
    # via ipython
backports-tarfile==1.2.0
    # via jaraco-context
beautifulsoup4==4.12.3
    # via furo
black==24.8.0
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
build==1.2.1
    # via asv
certifi==2024.7.4
    # via
    #   fiona
    #   pyproj
    #   requests
cfgv==3.4.0
    # via pre-commit
chardet==5.2.0
    # via frictionless
charset-normalizer==3.3.2
    # via requests
click==8.1.7
    # via
    #   black
    #   click-plugins
    #   cligj
    #   dask
    #   distributed
    #   fiona
    #   jupyter-cache
    #   ray
    #   typer
    #   uvicorn
click-plugins==1.1.1
    # via fiona
cligj==0.7.2
    # via fiona
cloudpickle==3.0.0
    # via
    #   dask
    #   distributed
colorlog==6.8.2
    # via nox
comm==0.2.2
    # via ipykernel
commonmark==0.9.1
    # via recommonmark
coverage==7.6.1
    # via pytest-cov
dask==2023.5.0
    # via
    #   -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
    #   distributed
debugpy==1.8.5
    # via ipykernel
decorator==5.1.1
    # via ipython
dill==0.3.8
    # via pylint
distlib==0.3.8
    # via virtualenv
distributed==2023.5.0
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
docutils==0.19
    # via
    #   myst-parser
    #   readme-renderer
    #   recommonmark
    #   sphinx
duckdb==1.0.0
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
exceptiongroup==1.2.2
    # via
    #   anyio
    #   hypothesis
    #   pytest
execnet==2.1.1
    # via pytest-xdist
executing==2.0.1
    # via stack-data
fastapi==0.112.1
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
fastjsonschema==2.20.0
    # via nbformat
filelock==3.15.4
    # via
    #   ray
    #   virtualenv
fiona==1.9.6
    # via geopandas
frictionless==4.40.8
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
frozenlist==1.4.1
    # via
    #   aiosignal
    #   ray
fsspec==2024.6.1
    # via
    #   dask
    #   modin
furo==2023.3.27
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
geopandas==0.13.2
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
grpcio==1.65.5
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
h11==0.14.0
    # via uvicorn
hypothesis==6.111.1
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
identify==2.6.0
    # via pre-commit
idna==3.7
    # via
    #   anyio
    #   requests
imagesize==1.4.1
    # via sphinx
importlib-metadata==8.2.0
    # via
    #   -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
    #   asv-runner
    #   build
    #   dask
    #   fiona
    #   jupyter-cache
    #   jupyter-client
    #   keyring
    #   myst-nb
    #   sphinx
    #   twine
    #   typeguard
importlib-resources==6.4.3
    # via
    #   jsonschema
    #   jsonschema-specifications
    #   keyring
iniconfig==2.0.0
    # via pytest
ipykernel==6.29.5
    # via myst-nb
ipython==8.12.3
    # via
    #   ipykernel
    #   myst-nb
isodate==0.6.1
    # via frictionless
isort==5.13.2
    # via
    #   -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
    #   pylint
jaraco-classes==3.4.0
    # via keyring
jaraco-context==5.3.0
    # via keyring
jaraco-functools==4.0.2
    # via keyring
jedi==0.19.1
    # via ipython
jinja2==3.1.4
    # via
    #   distributed
    #   frictionless
    #   myst-parser
    #   sphinx
joblib==1.4.2
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
json5==0.9.25
    # via asv
jsonschema==4.23.0
    # via
    #   frictionless
    #   nbformat
    #   ray
jsonschema-specifications==2023.12.1
    # via jsonschema
jupyter-cache==0.6.1
    # via myst-nb
jupyter-client==8.6.2
    # via
    #   ipykernel
    #   nbclient
jupyter-core==5.7.2
    # via
    #   ipykernel
    #   jupyter-client
    #   nbclient
    #   nbformat
keyring==25.3.0
    # via twine
lazy-object-proxy==1.10.0
    # via astroid
locket==1.0.0
    # via
    #   distributed
    #   partd
markdown-it-py==2.2.0
    # via
    #   mdit-py-plugins
    #   myst-parser
    #   rich
marko==2.1.2
    # via frictionless
markupsafe==2.1.5
    # via jinja2
matplotlib-inline==0.1.7
    # via
    #   ipykernel
    #   ipython
mccabe==0.7.0
    # via pylint
mdit-py-plugins==0.3.5
    # via myst-parser
mdurl==0.1.2
    # via markdown-it-py
modin==0.22.3
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
more-itertools==10.4.0
    # via
    #   jaraco-classes
    #   jaraco-functools
msgpack==1.0.8
    # via
    #   distributed
    #   ray
multimethod==1.10
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
mypy==1.10.0
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
mypy-extensions==1.0.0
    # via
    #   black
    #   mypy
    #   typing-inspect
myst-nb==0.17.2
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
myst-parser==0.18.1
    # via myst-nb
nbclient==0.7.4
    # via
    #   jupyter-cache
    #   myst-nb
nbformat==5.10.4
    # via
    #   jupyter-cache
    #   myst-nb
    #   nbclient
nest-asyncio==1.6.0
    # via ipykernel
nh3==0.2.18
    # via readme-renderer
nodeenv==1.9.1
    # via pre-commit
nox==2024.4.15
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
numpy==1.24.4
    # via
    #   -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
    #   dask
    #   modin
    #   pandas
    #   pyarrow
    #   scipy
    #   shapely
packaging==24.1
    # via
    #   -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
    #   black
    #   build
    #   dask
    #   distributed
    #   geopandas
    #   ipykernel
    #   modin
    #   nox
    #   pytest
    #   ray
    #   sphinx
pandas==1.5.3
    # via
    #   -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
    #   dask
    #   geopandas
    #   modin
pandas-stubs==2.0.3.230814
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
parso==0.8.4
    # via jedi
partd==1.4.1
    # via dask
pathspec==0.12.1
    # via black
petl==1.7.15
    # via frictionless
pexpect==4.9.0
    # via ipython
pickleshare==0.7.5
    # via ipython
pip==24.2
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
pkginfo==1.10.0
    # via twine
pkgutil-resolve-name==1.3.10
    # via jsonschema
platformdirs==4.2.2
    # via
    #   black
    #   jupyter-core
    #   pylint
    #   virtualenv
pluggy==1.5.0
    # via pytest
polars==1.5.0
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
pre-commit==3.5.0
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
prompt-toolkit==3.0.47
    # via ipython
protobuf==5.27.3
    # via
    #   -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
    #   ray
psutil==6.0.0
    # via
    #   distributed
    #   ipykernel
    #   modin
ptyprocess==0.7.0
    # via pexpect
pure-eval==0.2.3
    # via stack-data
py4j==0.10.9.7
    # via pyspark
pyarrow==17.0.0
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
pydantic==2.3.0
    # via
    #   -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
    #   fastapi
pydantic-core==2.6.3
    # via pydantic
pygments==2.18.0
    # via
    #   furo
    #   ipython
    #   readme-renderer
    #   rich
    #   sphinx
pylint==2.17.3
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
pympler==1.1
    # via asv
pyproj==3.5.0
    # via geopandas
pyproject-hooks==1.1.0
    # via build
pyspark==3.5.2
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
pytest==8.3.2
    # via
    #   -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
    #   pytest-asyncio
    #   pytest-cov
    #   pytest-xdist
pytest-asyncio==0.23.8
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
pytest-cov==5.0.0
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
pytest-xdist==3.6.1
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
python-dateutil==2.9.0.post0
    # via
    #   frictionless
    #   jupyter-client
    #   pandas
python-multipart==0.0.9
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
python-slugify==8.0.4
    # via frictionless
pytz==2024.1
    # via
    #   -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
    #   babel
    #   pandas
pyyaml==6.0.2
    # via
    #   -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
    #   asv
    #   dask
    #   distributed
    #   frictionless
    #   jupyter-cache
    #   myst-nb
    #   myst-parser
    #   pre-commit
    #   ray
pyzmq==26.1.1
    # via
    #   ipykernel
    #   jupyter-client
ray==2.10.0
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
readme-renderer==43.0
    # via twine
recommonmark==0.7.1
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
referencing==0.35.1
    # via
    #   jsonschema
    #   jsonschema-specifications
requests==2.32.3
    # via
    #   frictionless
    #   ray
    #   requests-toolbelt
    #   sphinx
    #   twine
requests-toolbelt==1.0.0
    # via twine
rfc3986==2.0.0
    # via
    #   frictionless
    #   twine
rich==13.7.1
    # via
    #   twine
    #   typer
rpds-py==0.20.0
    # via
    #   jsonschema
    #   referencing
scipy==1.10.1
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
shapely==2.0.5
    # via
    #   -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
    #   geopandas
shellingham==1.5.4
    # via typer
simpleeval==0.9.13
    # via frictionless
six==1.16.0
    # via
    #   asttokens
    #   fiona
    #   isodate
    #   python-dateutil
sniffio==1.3.1
    # via anyio
snowballstemmer==2.2.0
    # via sphinx
sortedcontainers==2.4.0
    # via
    #   distributed
    #   hypothesis
soupsieve==2.6
    # via beautifulsoup4
sphinx==5.3.0
    # via
    #   -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
    #   furo
    #   myst-nb
    #   myst-parser
    #   recommonmark
    #   sphinx-autodoc-typehints
    #   sphinx-basic-ng
    #   sphinx-copybutton
    #   sphinx-design
    #   sphinx-docsearch
sphinx-autodoc-typehints==1.14.1
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
sphinx-basic-ng==1.0.0b2
    # via furo
sphinx-copybutton==0.5.2
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
sphinx-design==0.5.0
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
sphinx-docsearch==0.0.7
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
sphinxcontrib-applehelp==1.0.4
    # via sphinx
sphinxcontrib-devhelp==1.0.2
    # via sphinx
sphinxcontrib-htmlhelp==2.0.1
    # via sphinx
sphinxcontrib-jsmath==1.0.1
    # via sphinx
sphinxcontrib-qthelp==1.0.3
    # via sphinx
sphinxcontrib-serializinghtml==1.1.5
    # via sphinx
sqlalchemy==2.0.32
    # via jupyter-cache
stack-data==0.6.3
    # via ipython
starlette==0.38.2
    # via fastapi
stringcase==1.2.0
    # via frictionless
tabulate==0.9.0
    # via
    #   asv
    #   frictionless
    #   jupyter-cache
tblib==3.0.0
    # via distributed
text-unidecode==1.3
    # via python-slugify
tomli==2.0.1
    # via
    #   asv
    #   black
    #   build
    #   coverage
    #   mypy
    #   nox
    #   pylint
    #   pytest
tomlkit==0.13.2
    # via pylint
toolz==0.12.1
    # via
    #   dask
    #   distributed
    #   partd
tornado==6.4.1
    # via
    #   distributed
    #   ipykernel
    #   jupyter-client
traitlets==5.14.3
    # via
    #   comm
    #   ipykernel
    #   ipython
    #   jupyter-client
    #   jupyter-core
    #   matplotlib-inline
    #   nbclient
    #   nbformat
twine==5.1.1
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
typeguard==4.3.0
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
typer==0.12.4
    # via frictionless
types-click==7.1.8
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
types-pytz==2024.1.0.20240417
    # via
    #   -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
    #   pandas-stubs
types-pyyaml==6.0.12.20240808
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
types-requests==2.32.0.20240712
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
types-setuptools==71.1.0.20240818
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
typing-extensions==4.12.2
    # via
    #   -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
    #   annotated-types
    #   anyio
    #   astroid
    #   black
    #   fastapi
    #   ipython
    #   mypy
    #   myst-nb
    #   myst-parser
    #   pydantic
    #   pydantic-core
    #   pylint
    #   rich
    #   sqlalchemy
    #   starlette
    #   typeguard
    #   typer
    #   typing-inspect
    #   uvicorn
typing-inspect==0.9.0
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
urllib3==2.2.2
    # via
    #   distributed
    #   requests
    #   twine
    #   types-requests
uvicorn==0.30.6
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
validators==0.33.0
    # via frictionless
virtualenv==20.26.3
    # via
    #   asv
    #   nox
    #   pre-commit
wcwidth==0.2.13
    # via prompt-toolkit
wrapt==1.16.0
    # via
    #   -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
    #   astroid
xdoctest==1.1.6
    # via -r /var/folders/wd/sx8dvgys011_mrcsd1_vrz1m0000gn/T/tmpw35mevve
zict==3.0.0
    # via distributed
zipp==3.20.0
    # via
    #   importlib-metadata
    #   importlib-resources
