aiosignal==1.3.1
    # via ray
alabaster==0.7.16
    # via sphinx
anyio==4.3.0
    # via starlette
appnope==0.1.4
    # via ipykernel
argcomplete==3.3.0
    # via nox
astroid==2.15.8
    # via pylint
asttokens==2.4.1
    # via stack-data
asv==0.6.3
asv-runner==0.2.1
    # via asv
attrs==23.2.0
    # via
    #   fiona
    #   hypothesis
    #   jsonschema
    #   jupyter-cache
    #   referencing
babel==2.14.0
    # via sphinx
backports-tarfile==1.1.0
    # via jaraco-context
beautifulsoup4==4.12.3
    # via furo
black==24.4.0
build==1.2.1
    # via asv
certifi==2024.2.2
    # via
    #   fiona
    #   pyproj
    #   requests
cfgv==3.4.0
    # via pre-commit
chardet==5.2.0
    # via frictionless
charset-normalizer==3.3.2
    # via requests
click==8.1.7
    # via
    #   black
    #   click-plugins
    #   cligj
    #   dask
    #   distributed
    #   fiona
    #   jupyter-cache
    #   ray
    #   typer
    #   uvicorn
click-plugins==1.1.1
    # via fiona
cligj==0.7.2
    # via fiona
cloudpickle==3.0.0
    # via
    #   dask
    #   distributed
colorlog==6.8.2
    # via nox
comm==0.2.2
    # via ipykernel
commonmark==0.9.1
    # via recommonmark
coverage==7.4.4
    # via pytest-cov
dask==2024.2.1
    # via distributed
debugpy==1.8.1
    # via ipykernel
decorator==5.1.1
    # via ipython
dill==0.3.8
    # via pylint
distlib==0.3.8
    # via virtualenv
distributed==2024.2.1
docutils==0.20.1
    # via
    #   myst-parser
    #   readme-renderer
    #   recommonmark
    #   sphinx
exceptiongroup==1.2.0
    # via
    #   anyio
    #   hypothesis
    #   ipython
    #   pytest
execnet==2.1.1
    # via pytest-xdist
executing==2.0.1
    # via stack-data
fastapi==0.110.1
fastjsonschema==2.19.1
    # via nbformat
filelock==3.13.4
    # via
    #   ray
    #   virtualenv
fiona==1.9.6
    # via geopandas
frictionless==4.40.8
frozenlist==1.4.1
    # via
    #   aiosignal
    #   ray
fsspec==2024.3.1
    # via
    #   dask
    #   modin
furo==2024.1.29
geopandas==0.14.3
greenlet==3.0.3
    # via sqlalchemy
grpcio==1.62.1
h11==0.14.0
    # via uvicorn
hypothesis==6.100.1
identify==2.5.35
    # via pre-commit
idna==3.7
    # via
    #   anyio
    #   requests
imagesize==1.4.1
    # via sphinx
importlib-metadata==7.1.0
    # via
    #   asv-runner
    #   build
    #   dask
    #   fiona
    #   jupyter-cache
    #   jupyter-client
    #   keyring
    #   myst-nb
    #   sphinx
    #   twine
    #   typeguard
iniconfig==2.0.0
    # via pytest
ipykernel==6.29.4
    # via myst-nb
ipython==8.18.1
    # via
    #   ipykernel
    #   myst-nb
isodate==0.6.1
    # via frictionless
isort==5.13.2
    # via pylint
jaraco-classes==3.4.0
    # via keyring
jaraco-context==5.3.0
    # via keyring
jaraco-functools==4.0.0
    # via keyring
jedi==0.19.1
    # via ipython
jinja2==3.1.4
    # via
    #   distributed
    #   frictionless
    #   myst-parser
    #   sphinx
joblib==1.4.0
json5==0.9.25
    # via asv
jsonschema==4.21.1
    # via
    #   frictionless
    #   nbformat
    #   ray
jsonschema-specifications==2023.12.1
    # via jsonschema
jupyter-cache==1.0.0
    # via myst-nb
jupyter-client==8.6.1
    # via
    #   ipykernel
    #   nbclient
jupyter-core==5.7.2
    # via
    #   ipykernel
    #   jupyter-client
    #   nbclient
    #   nbformat
keyring==25.1.0
    # via twine
lazy-object-proxy==1.10.0
    # via astroid
locket==1.0.0
    # via
    #   distributed
    #   partd
markdown-it-py==3.0.0
    # via
    #   mdit-py-plugins
    #   myst-parser
    #   rich
marko==2.0.3
    # via frictionless
markupsafe==2.1.5
    # via jinja2
matplotlib-inline==0.1.7
    # via
    #   ipykernel
    #   ipython
mccabe==0.7.0
    # via pylint
mdit-py-plugins==0.4.0
    # via myst-parser
mdurl==0.1.2
    # via markdown-it-py
modin==0.22.3
more-itertools==10.2.0
    # via
    #   jaraco-classes
    #   jaraco-functools
msgpack==1.0.8
    # via
    #   distributed
    #   ray
multimethod==1.10
mypy==1.10.0
mypy-extensions==1.0.0
    # via
    #   black
    #   mypy
    #   typing-inspect
myst-nb==1.1.0
myst-parser==2.0.0
    # via myst-nb
nbclient==0.10.0
    # via
    #   jupyter-cache
    #   myst-nb
nbformat==5.10.4
    # via
    #   jupyter-cache
    #   myst-nb
    #   nbclient
nest-asyncio==1.6.0
    # via ipykernel
nh3==0.2.17
    # via readme-renderer
nodeenv==1.8.0
    # via pre-commit
nox==2024.4.15
numpy==1.26.4
    # via
    #   dask
    #   modin
    #   pandas
    #   pandas-stubs
    #   pyarrow
    #   scipy
    #   shapely
packaging==24.0
    # via
    #   black
    #   build
    #   dask
    #   distributed
    #   geopandas
    #   ipykernel
    #   modin
    #   nox
    #   pytest
    #   ray
    #   sphinx
pandas==1.5.3
    # via
    #   dask
    #   geopandas
    #   modin
pandas-stubs==2.2.1.240316
parso==0.8.4
    # via jedi
partd==1.4.1
    # via dask
pathspec==0.12.1
    # via black
petl==1.7.15
    # via frictionless
pexpect==4.9.0
    # via ipython
pip==24.0
pkginfo==1.10.0
    # via twine
platformdirs==4.2.0
    # via
    #   black
    #   jupyter-core
    #   pylint
    #   virtualenv
pluggy==1.4.0
    # via pytest
polars==0.20.21
pre-commit==3.7.0
prompt-toolkit==3.0.43
    # via ipython
protobuf==5.26.1
    # via ray
psutil==5.9.8
    # via
    #   distributed
    #   ipykernel
    #   modin
ptyprocess==0.7.0
    # via pexpect
pure-eval==0.2.2
    # via stack-data
py4j==0.10.9.7
    # via pyspark
pyarrow==15.0.2
pydantic==1.10.11
    # via fastapi
pygments==2.17.2
    # via
    #   furo
    #   ipython
    #   readme-renderer
    #   rich
    #   sphinx
pylint==2.17.3
pympler==1.0.1
    # via asv
pyproj==3.6.1
    # via geopandas
pyproject-hooks==1.0.0
    # via build
pyspark==3.5.1
pytest==8.1.1
    # via
    #   pytest-asyncio
    #   pytest-cov
    #   pytest-xdist
pytest-asyncio==0.23.6
pytest-cov==5.0.0
pytest-xdist==3.5.0
python-dateutil==2.9.0.post0
    # via
    #   frictionless
    #   jupyter-client
    #   pandas
python-multipart==0.0.9
python-slugify==8.0.4
    # via frictionless
pytz==2024.1
    # via pandas
pyyaml==6.0.1
    # via
    #   asv
    #   dask
    #   distributed
    #   frictionless
    #   jupyter-cache
    #   myst-nb
    #   myst-parser
    #   pre-commit
    #   ray
pyzmq==26.0.0
    # via
    #   ipykernel
    #   jupyter-client
ray==2.10.0
readme-renderer==43.0
    # via twine
recommonmark==0.7.1
referencing==0.34.0
    # via
    #   jsonschema
    #   jsonschema-specifications
requests==2.32.0
    # via
    #   frictionless
    #   ray
    #   requests-toolbelt
    #   sphinx
    #   twine
requests-toolbelt==1.0.0
    # via twine
rfc3986==2.0.0
    # via
    #   frictionless
    #   twine
rich==13.7.1
    # via
    #   twine
    #   typer
rpds-py==0.18.0
    # via
    #   jsonschema
    #   referencing
scipy==1.13.0
setuptools==69.5.1
    # via nodeenv
shapely==2.0.4
    # via geopandas
shellingham==1.5.4
    # via typer
simpleeval==0.9.13
    # via frictionless
six==1.16.0
    # via
    #   asttokens
    #   fiona
    #   isodate
    #   python-dateutil
sniffio==1.3.1
    # via anyio
snowballstemmer==2.2.0
    # via sphinx
sortedcontainers==2.4.0
    # via
    #   distributed
    #   hypothesis
soupsieve==2.5
    # via beautifulsoup4
sphinx==7.3.4
    # via
    #   furo
    #   myst-nb
    #   myst-parser
    #   recommonmark
    #   sphinx-autodoc-typehints
    #   sphinx-basic-ng
    #   sphinx-copybutton
    #   sphinx-design
sphinx-autodoc-typehints==1.14.1
sphinx-basic-ng==1.0.0b2
    # via furo
sphinx-copybutton==0.5.2
sphinx-design==0.5.0
sphinxcontrib-applehelp==1.0.8
    # via sphinx
sphinxcontrib-devhelp==1.0.6
    # via sphinx
sphinxcontrib-htmlhelp==2.0.5
    # via sphinx
sphinxcontrib-jsmath==1.0.1
    # via sphinx
sphinxcontrib-qthelp==1.0.7
    # via sphinx
sphinxcontrib-serializinghtml==1.1.10
    # via sphinx
sqlalchemy==2.0.29
    # via jupyter-cache
stack-data==0.6.3
    # via ipython
starlette==0.37.2
    # via fastapi
stringcase==1.2.0
    # via frictionless
tabulate==0.9.0
    # via
    #   asv
    #   frictionless
    #   jupyter-cache
tblib==3.0.0
    # via distributed
text-unidecode==1.3
    # via python-slugify
tomli==2.0.1
    # via
    #   asv
    #   black
    #   build
    #   coverage
    #   mypy
    #   nox
    #   pylint
    #   pyproject-hooks
    #   pytest
    #   sphinx
tomlkit==0.12.4
    # via pylint
toolz==0.12.1
    # via
    #   dask
    #   distributed
    #   partd
tornado==6.4
    # via
    #   distributed
    #   ipykernel
    #   jupyter-client
traitlets==5.14.2
    # via
    #   comm
    #   ipykernel
    #   ipython
    #   jupyter-client
    #   jupyter-core
    #   matplotlib-inline
    #   nbclient
    #   nbformat
twine==5.0.0
typeguard==4.2.1
typer==0.12.3
    # via frictionless
types-click==7.1.8
types-pkg-resources==0.1.3
types-pytz==2024.1.0.20240417
    # via pandas-stubs
types-pyyaml==6.0.12.20240311
types-requests==2.31.0.20240406
typing-extensions==4.11.0
    # via
    #   anyio
    #   astroid
    #   black
    #   fastapi
    #   ipython
    #   mypy
    #   myst-nb
    #   pydantic
    #   pylint
    #   sqlalchemy
    #   starlette
    #   typeguard
    #   typer
    #   typing-inspect
    #   uvicorn
typing-inspect==0.9.0
urllib3==2.2.1
    # via
    #   distributed
    #   requests
    #   twine
    #   types-requests
uvicorn==0.29.0
validators==0.28.0
    # via frictionless
virtualenv==20.25.2
    # via
    #   asv
    #   nox
    #   pre-commit
wcwidth==0.2.13
    # via prompt-toolkit
wrapt==1.16.0
    # via astroid
xdoctest==1.1.3
zict==3.0.0
    # via distributed
zipp==3.18.1
    # via importlib-metadata
